<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/footer.css">
    <title>Footer</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
</head>
<body>
    <!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-about">
            <h4>About Me</h4>
            <p>Hi! I am Dilay Ece Maral third-year Computer Engineering student from Turkey.</p>
        </div>
        <div class="footer-social">
            <h4>Follow Me</h4>
            <ul>
                <li><a href="https://github.com/xddlzx" target="_blank">Github</a></li>
                <li><a href="https://www.linkedin.com/in/dilay-ece-maral/" target="_blank">Linkedln</a></li>
                <li><a href="https://www.instagram.com/dialys_x?igsh=MXhiOXI1bjB4MzFqMw%3D%3D&utm_source=qr" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Sunkissed Blog. All rights reserved.</p>
    </div>
</footer>

</body>
</html>