/*Global CSS is used primarily for consistency and to simplify styling across an entire project and global resets */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
